; 请妥善保管您的配置
registry=https://oauth-npm.pkg.coding.net/pkg/npm/
always-auth=true
//oauth-npm.pkg.coding.net/pkg/npm/:username=npm-1669885684328
//oauth-npm.pkg.coding.net/pkg/npm/:_password=OTY4N2EyZjU2YTYwMWExY2FhYzA2YzQ1YTJmZjAyMzMwY2UxOTZmZg==
//oauth-npm.pkg.coding.net/pkg/npm/:email=whiteffire@163.com